{% extends 'base.html.twig' %}

{% block body %}
    {% set query = app.request.query.all %}
    {% if query['index']['query'] is defined %} {% set query = query['index']['query'] %} {% else %} {% set query = '' %} {% endif %}

    <div class="row g-5 g-xxl-5 bg-dark-800 mb-4">
        <!--begin::Header-->
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div class="col-auto">
                <a href="{{ path('index') }}">
                    <img src="{{ asset('build/images/google_logo.svg') }}" alt="google_logo" height="40">
                </a>
            </div>
            <div class="col-7">
                {{ form_start(form) }}
                <div class="input-group input-group-solid input-group-solid-600">
                    {{ form_widget(form.query, {'attr': {'class': 'fw-bolder rounded-circle-20', placeholder: 'Type something..', value: query}}) }}
                    <span class="input-group-text rounded-circle-20 border-left-0">
                    <button class="inherent-button">
                        <img src="{{ asset('build/images/google_search.png') }}"
                             alt="search_icon" height="30">
                    </button>
                </span>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-4">
                <ul class="menu menu-gray-600 align-items-center justify-content-end">
                    <div class="menu-item pe-4">
                        <a href="#">
                            <img src="{{ asset('build/images/google_youtube.svg') }}" alt="location" height="30"
                                 width="30">
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="mailto:maruanbueno55@gmail.com">
                            <img src="{{ asset('build/images/google_mail.svg') }}" alt="location" height="40" width="40"
                                 class="card-img">
                        </a>
                    </div>
                    <div class="menu-item px-3">
                        <a href="https://www.google.com/maps/place/Ixelles/data=!4m2!3m1!1s0x47c3c49d464cf871:0x6ad2d087c927be75?sa=X&ved=2ahUKEwitz-X6kbL5AhUlM-wKHZvsBCMQ8gF6BAgFEAE"
                           target="_blank">
                            <img src="{{ asset('build/images/google_map.svg') }}" alt="location" height="40" width="40">
                        </a>
                    </div>
                    <div class="menu-item me-0">
                        <a href="https://maruan.tech" target="_blank">
                            <img class="rounded-circle border border-800" height="40"
                                 src="{{ asset('build/images/1650055502528.jpeg') }}" alt="picture_photo">
                        </a>
                    </div>
                </ul>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::head line-->
        <div class="col-11 mx-auto ps-4">
            <ul class="nav nav-tabs nav-line-tabs mb-4 pt-lg-1 fs-6" role="tablist">
                <li class="nav-item ps-3 " role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_7" aria-selected="false"
                       role="tab"
                       tabindex="-1">All</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_8" aria-selected="true"
                       role="tab">Images</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_9" aria-selected="false" tabindex="-1"
                       role="tab">News</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_9" aria-selected="false" tabindex="-1"
                       role="tab">Videos</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_9" aria-selected="false" tabindex="-1"
                       role="tab">Maps</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_9" aria-selected="false" tabindex="-1"
                       role="tab">More</a>
                </li>
            </ul>
        </div>
        <!--end::headline-->
    </div>

    <div class="row g-1 g-xxl-1">
        <div class="col-11 mx-auto ps-4">
            <!--begin::result-->
            {% if result is empty %}
                <div class="col-8">
                    <p class="text-gray-800 small">About {{ total }} results ({{ timing }} seconds)</p>
                    <!--begin::Feeds Widget 1-->
                    <div class="card" style="width: 97%;">
                        <!--begin::Body-->
                        <div class="card-body pb-0">
                            <p class="text-gray-900 text-hover-primary fs-6 text-gray-600">Your search <span
                                        class="fw-bold">{{ query }}</span> - did not match any documents.</p>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Feeds Widget 1-->
                </div>
            {% else %}
                <p class="text-gray-800 small">About {{ total }} results ({{ timing }} seconds)</p>
                {% for data in result %}
                    <div class="col-8">
                        <!--begin::Feeds Widget 1-->
                        <div class="card mb-3" style="width: 97%;">
                            <div class="card-header pb-0">
                                <a class="card-title text-gray-800 fw-bold fs-5" style="text-decoration:none;"
                                   href="{{ data[0] }}">{{ data[1]|preg_replace('/[^(\x20-\x7F)]*/', '', data[1]) }}
                                </a>
                                <div class="card-toolbar">
                                    <span class="badge badge-pill {% if data[3] >= 0 and data[3] <= 2000 %} bg-success {% elseif data[3] >= 2000 and data[3] <= 5000 %} bg-primary  {% elseif data[3] >= 5000 and data[3] <= 10000 %} bg-warning {% else %} bg-danger {% endif %}  rounded-circle-20"
                                          title="Rank">{{ data[3] }} </span>
                                    <a href="#" class="ps-2">
                                        <img src="{{ asset('build/images/menu_dot.svg') }}" alt="menu_dot" height="20">
                                    </a>
                                </div>
                            </div>
                            <!--begin::Body-->
                            <div class="card-body pt-0">
                                <!--begin::Header-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Result-->
                                    <div class="d-flex align-items-center flex-grow-1">
                                        <!--begin::Title/Desc/Rank-->
                                        <div class="d-flex flex-column mb-0">
                                            <a style="text-decoration:none; color: green"
                                               href="{{ data[0] }}">{{ data[0] }}</a>
                                            <p class="text-gray-800">{{ data[2]|preg_replace('/[^(\x20-\x7F)]*/', '', data[2]) }}</p>
                                        </div>
                                        <!--end::Title/Desc/Rank-->
                                    </div>
                                    <!--end::Result-->
                                </div>
                                <!--end::Header-->
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Feeds Widget 1-->
                    </div>
                {% endfor %}
            {% endif %}
            <!--end::result-->

        </div>

    </div>
{% endblock %}

{% block footer %}

    <div class="footer mt-auto py-4 px-4 ms-5">
        <nav class="ms-5">
            <ul class="pagination align-items-center ms-1">
                <li class="page-item">
                    <a class="page-link border-0 text-gray-600 bg-dark-800 text-uppercase rounded-circle-20" href="#">Previous</a>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-danger rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-warning rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-success rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-primary rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-2">
                    <a href="#" class="page-link text-gray-600 bg-dark-800 border-0 rounded-circle-20">5</a>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-danger rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-warning rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-success rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item mx-5">
                    <span class="page-link p-2 bg-primary rounded-circle border-0">
                        <span class="visually-hidden">ups</span>
                    </span>
                </li>
                <li class="page-item">
                    <a class="page-link border-0 text-gray-600 bg-dark-800 p-2 text-uppercase rounded-circle-20" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <!--end::Middle Text-->
    </div>

{% endblock %}